html {
	overflow-y: scroll;
	background: #5F5F5F url('../img/html_bg.png') repeat-x scroll;
}

body {
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: .6em;
	background: transparent url('../img/body_bg.jpg') no-repeat center top;
	min-height: 100%;
	margin: 0;
}

p {
	font-size: 1.2em;
}

b {
	font-size: 1.2em;
}

table {
    font-size: 1.15em;
    border-spacing: 0;
}

table text {
    font-size: .9em;	
}

h2 {
    text-align: left;
    padding: 5px 0px 5px 20px;
    background-color: black;
    color: white;
    width: 50%;
}


/* Navigation */

.title div {
	font-weight: bold;
	font-size: 2.2em;
	font-stretch: expanded;
	text-align: center;
	width: 100%;
}

.title {
    float: left;
    width: 70%;
}

#navigation {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
    width: 100%;
    background: white;
}

#navigation a {
	padding-top: 4px;
    text-decoration: none;
    color: blue;
    background-color: transparent;
    font-size: 1.5em;
}

#navigation a:hover {
    color: steelblue;
}

#nav-backward {
    float: left;
    padding-left: 10px;
}

#nav-foreward {
    float: right;
    padding-right: 10px;
}


#content {
	width: 1000px;
	margin: auto;
}

/* Main Content */

.vis-container {
	width: 100%;	
	margin-top: 10px;
	background: white;
	min-height: 610px;
}

.clear {
	clear: both;
}


/* Main Container */
#main-container {	
	width: 50%;
	float: left;
	padding-bottom: 15px;
}

#main-container p {
	text-align: justify;
	padding: 5px 30px 5px 20px;
}

/* Side Container */

#side-container {
    width: 50%;
    float: left;    
}

/* GDPPC Chart */
#bubble-chart {
    float: left;
    cursor: pointer;
}

#gdp-container-left p {
	text-align: center;
}

/* Bottom Container */
#bottom-container {
    float: left;
    width: 100%;
    padding-bottom: 15px;
}


/* Industry Pie Chart */
#industry-chart {
	padding-top: 15px;
	padding-left: 25px;
    float: left;	
    width: 60%;
    cursor: pointer;
}

#industry-title {
	float:left;
}

/* Manufacturing */
.manufaturing-cell {
    cursor: pointer;	
}

/* Tourism */
/* Stacked Bar Chart */
#industry-stacked-chart {
	padding: 0 0 0 25px;
    float: left;	
}


/* Nz Map*/
#nz-map {
    width: 300px;
    float: left;	
}

#nz-map-legend {
    float: left;    
}

#tourist-slider {
    width: 420px;
    margin: auto;	
}

#tourist-slider-legend {
	padding: 0 0 0 15px;  
}
/* Dairy */
#cow-slider {
    width: 425px;
    margin: auto;   
}

#cow-densitiy-title {
    width: 600px;
    float: left;  
}

#cow-densitiy-chart {
    float: left;	
}

/* Mining */
.mining-slider {
	margin: 5px 18px 0 10px;
    width: 312px;	
    float: left;
}

.mining-table {
    text-align: left;	
}

.mining-p {
    padding-top: 7px;
    width: 30%;
}

#mining-chart-title {
    text-align: center;
    margin: auto;	
}

#coal-colour {
    width: 15px;
    height: 15px;
    float: left;
    background: #FFAA00;
    margin-right: 5px; 	
}

#oil-colour {
    width: 15px;
    height: 15px;
    float: left;
    background: #00C12B;
    margin-right: 5px;    
}

#metal-colour {
    width: 15px;
    height: 15px;
    float: left;
    background: #8805A8;   
    margin-right: 5px;  
}

.mining-counter {
    width: 250px;
    float: right;
    margin-right: 5px; 	
}

.counter-text {
	padding-top: 13px;
    width: 200px;
    float: left;	
}

.more-text {
    display: none;	
}

/* Apple Counter */
#counter-wrapper {
	padding-top: 10px;
	padding-left: 98px;	
}
.flip-counter ul.cd {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0
}

.flip-counter li {
	background: url(../img/digits.png) 0 0 no-repeat
}

.flip-counter li.t {
	background-position: 0 0;
	width: 53px;
	height: 39px
}

.flip-counter li.b {
	background-position: 0 0;
	width: 53px;
	height: 64px
}

.flip-counter li.s {
	background-position: -53px -1030px;
	width: 14px;
	height: 103px
}

#footer {
	text-align: right;
}

#footer p {
    color: white;	
    font-size: 1em;
}

#footer a {
    color: white;   
}

.flip {
	    -moz-transform: scaleX(-1); /* Gecko */
        -o-transform: scaleX(-1); /* Operah */
        -webkit-transform: scaleX(-1); /* webkit */
        transform: scaleX(-1); /* standard */
        filter: FlipH; /* IE 6/7/8 */
}

/* Tool Tip */
#tooltip {
    position: absolute;
    z-index: 3000;
    border: 1px solid #111;
    background-color: #eee;
    padding: 5px;
    opacity: 0.85;
}
#tooltip h3, #tooltip div { margin: 0; }

.twitter-share-button {
	height: 20px;
	background-image: url(https://dev.twitter.com/widgets/images/tweet.png);
background-repeat-x: no-repeat;
background-repeat-y: no-repeat;
background-attachment: initial;
background-position-x: initial;
background-position-y: initial;
background-origin: initial;
background-clip: initial;
background-color: transparent;
	}
	
/* Error Page */
.error {
    padding-top: 150px;
}

.error p {
    text-align: center;
    color: white;
    font-size: 2em;
}

.error a {
    text-align: center;
    color: white;
}

/* SVG */
.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}

.chart rect {
    stroke: white;
    fill: steelblue;
    shape-rendering: crispEdges;
}

.chart text.bar {
    font-family: arial, freesans, clean, sans-serif;
    fill: white;
    font-size: .8em;
}

svg {
    
}

.chart circle.little {
    fill: #aaa;
    stroke: #333;
    stroke-width: 1.5px;
}