html {
	overflow-y: scroll;
	background: #5F5F5F url('../img/html_bg.png') repeat-x scroll;
}

body {
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 10px;
	background: transparent url('../img/body_bg.jpg') no-repeat center top;
	min-height: 100%;
	margin: 0;
}

p {
	font-size: 1.2em;
}

b {
	font-size: 1.2em;
}

table {
    font-size: 1.2em;
    border-spacing: 1px;
}

.title div {
	font-weight: bold;
	font-size: 2.2em;
	font-stretch: expanded;
	margin-left: 20px;
	margin-top: 20px;
}

#content {
	width: 980px;
	margin: auto;
}

.title {
	float: left;
	width: 50%;
}

.vis-container {
	width: 98%;
	padding: 0 15px 5px 15px;
	margin-top: 10px;
	background: white;
	min-height: 610px;
}

.clear {
	clear: both;
}

.error {
	padding-top: 150px;
}

.error p {
	text-align: center;
	color: white;
	font-size: 2em;
}

.error a {
    text-align: center;
    color: white;
}

.chart div {
	font: 10px sans-serif;
	background-color: steelblue;
	text-align: right;
	padding: 3px;
	margin: 1px;
	color: white;
}

.chart rect {
	stroke: white;
	fill: steelblue;
	shape-rendering: crispEdges;
}

.chart text.bar {
	font-family: arial, freesans, clean, sans-serif;
	fill: white;
	font-size: .8em;
}

svg {
	
}

.chart circle.little {
	fill: #aaa;
	stroke: #333;
	stroke-width: 1.5px;
}

/* Main Container */
#main-container {
	padding: 0px 10px 0px 20px;
	width: 470px;
	float: left;
}

#main-container p {
	text-align: justify;
}

/* GDPPC Chart */
#bubble-chart {
    float: left;
}

#gdp-container {
    width: 460px;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

#gdp-container p {
    text-align: center;
    padding-left: 40px;
}

/* Bottom Container */
#bottom-container {
	padding: 0 0 0 20px;
    float: left;
}

/* Bottom Container - Industry Pie Chart */
#industry-chart {
	padding-top: 15px;
    float: right;	
    width: 650px;
    cursor: pointer;
}

#industry-title {
	float:left;
}

/* Manufacturing */
.manufaturing-cell {
    cursor: pointer;	
}
/* Navigation */
#navigation {
	margin: 10px 0 10px 0;
	padding: 10px 15px 10px 15px;
	width: 98%;
	background: white;
}

#navigation a {
	text-decoration: none;
	color: black;
	background-color: transparent;
	font-size: 1.5em;
}

#navigation a:hover {
	color: steelblue;
}

#nav-backward {
	float: left;
}

#nav-foreward {
	float: right;
}
/* Tourism */
/* Stacked Bar Chart */
#industry-stacked-chart {
    float: left;	
}
#industry-stacked-chart-title {
    width: 600px;
    float: left;  
}

/* Nz Map*/
#nz-map {
    width: 300px;
    float: left;	
}

#nz-map-legend {
    float: left;    
}

#tourist-slider {
    width: 425px;
    margin: auto;	
}
/* Dairy */
#cow-slider {
    width: 425px;
    margin: auto;   
}

#cow-densitiy-title {
    width: 600px;
    float: left;  
}

/* Mining */
.mining-slider {
	margin: 5px 18px 0 10px;
    width: 312px;	
    float: left;
}

.mining-table {
    text-align: left;	
}

.mining-p {
    padding-top: 7px;
}

#mining-chart-title {
    text-align: center;
    margin: auto;	
}

#coal-colour {
    width: 15px;
    height: 15px;
    float: left;
    background: #FFAA00;
    margin-right: 5px; 	
}

#oil-colour {
    width: 15px;
    height: 15px;
    float: left;
    background: #00C12B;
    margin-right: 5px;    
}

#metal-colour {
    width: 15px;
    height: 15px;
    float: left;
    background: #8805A8;   
    margin-right: 5px;  
}

.mining-counter {
    width: 250px;
    float: right;
    margin-right: 5px; 	
}

.counter-text {
	padding-top: 13px;
    width: 200px;
    float: left;	
}

/* Apple Counter */
#counter-wrapper {
	padding-top: 10px;
	padding-left: 98px;	
}
.flip-counter ul.cd {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0
}

.flip-counter li {
	background: url(../img/digits.png) 0 0 no-repeat
}

.flip-counter li.t {
	background-position: 0 0;
	width: 53px;
	height: 39px
}

.flip-counter li.b {
	background-position: 0 0;
	width: 53px;
	height: 64px
}

.flip-counter li.s {
	background-position: -53px -1030px;
	width: 14px;
	height: 103px
}

#footer {
	text-align: right;
}

#footer p {
    color: white;	
    font-size: .95em;
}

#footer a {
    color: white;   
}

.flip {
	    -moz-transform: scaleX(-1); /* Gecko */
        -o-transform: scaleX(-1); /* Operah */
        -webkit-transform: scaleX(-1); /* webkit */
        transform: scaleX(-1); /* standard */
        filter: FlipH; /* IE 6/7/8 */
}

/* Tool Tip */
#tooltip {
    position: absolute;
    z-index: 3000;
    border: 1px solid #111;
    background-color: #eee;
    padding: 5px;
    opacity: 0.85;
}
#tooltip h3, #tooltip div { margin: 0; }

.twitter-share-button {
	height: 20px;
	background-image: url(https://dev.twitter.com/widgets/images/tweet.png);
background-repeat-x: no-repeat;
background-repeat-y: no-repeat;
background-attachment: initial;
background-position-x: initial;
background-position-y: initial;
background-origin: initial;
background-clip: initial;
background-color: transparent;
	}